body {height: 94%;}

#counter {
	position: absolute;
	top: 68px;
	left: 358px;
	width: 50px;
	text-align: right;
	color: #444;
}

div#counter.negative {
	color:red;
}

#send_button {
	position: absolute;
	top: 92px;
	left: 350px;
	font-size: 0.95em;
	width: 60px;
	text-align: center;
	padding: 1px 0px 1px 0px;
	background: #444;
	color: #fff;
	border: 1px solid #fff;
	border-color: transparent;
	-webkit-border-radius: 6px;
	text-shadow: 0px 1px 0px #000;
	-webkit-box-shadow: 1px 1px 1px #dcdcdc;
}

#send_button:hover {
	background: #b3b3b3;
	color: #000;
	text-shadow: 0px 1px 0px #ccc;
	-webkit-box-shadow: 1px 1px 1px #111;
}

#textarea_wrapper {
	margin: 8px;
	padding: 4px;
	height: 66px;
	width: 394px;
	-webkit-border-radius:5px;
	-webkit-box-shadow: 2px 2px 2px #222;
	border: solid 1px #f8f8f8;
	background-color:#f2f2f2;	
}

#direct_message_textarea {
	background: #fff;
	height: 56px;
	width: 392px;
	border: none;
	outline: none;
}
