body, * {
  font-family:"Lucida Grande",Tahoma, Helvetica, sans-serif;
  font-size:12px;
  margin:0;
  padding:0;
}

body {
  margin:0px;
  background-color:#d2d2d2;
}

::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

::-webkit-scrollbar-thumb:vertical {
    -webkit-border-image: url(/images/scroll2.png) 10 0 10 0;
    border-color: transparent;
    border-width: 13px 0;
    min-height: 20px;
}

a {
  color:#343434;
}

.rounded {
  -webkit-border-radius:10px;
}

#sidebar {
  width:70px;
  height:1000px;
  background-color:#1c1c1c;
  background: url(/images/sidebar-bg.png);
  float:left;
  text-align:center;
}

#main_logo {
  margin-top:10px;
}

#sidebar img {
  cursor:pointer;
  margin-bottom:10px;
}

#sidebar img:hover {
	background-image: url(/images/sidebar-button-glow.png);
	background-repeat: no-repeat;
}

#profile {
  padding-top:10px;
  margin-bottom:10px;
  background-color:#d2d2d2;
  -webkit-border-top-left-radius:10px;
  -webkit-border-bottom-left-radius:10px;
}

#profile_info img {
	float:left
	margin-bottom:10px;
}

#content {
	height: 100%;
}

#body {
  height:580px;
  overflow-y: auto;
  overflow-x: hidden;
  padding:5px;
}

#body h4 {
  margin:0;
  padding:10px;
}

#body p {
  line-height:1.5em;
  margin:3px 10px 3px 10px;
}

#spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.notice {
	margin:5px 0 10px 0;
	padding:5px;
	-webkit-border-radius:5px;
	-webkit-box-shadow: 1px 1px 3px gray;
	border: solid 1px #f8f8f8;
	background-color:#f2f2f2;
}
.notice:hover {
	background-color:#f8f8f8;
	-webkit-box-shadow: 1px 1px 5px #444;
	border: solid 1px #ffffff;
}
.notice .avatar {
	float:right;
	margin:5px 0 5px 10px;
}
.notice .avatar img {
	width: 48px;
	height: 48px;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0px 0px 3px gray;
	background-color:#f8f8f8;
}
.notice .author {
	font-size:14px;
	color:#000;
	text-decoration:none;
	font-weight:bold;
}
.notice .date {
	font-size:0.8em;
}
.notice .content {
	margin-top:3px;
}
.notice .clear {
	clear:both;
}
