#settings_content {
	padding: 10px;
	overflow-x: hidden;
}

h1 {
	margin: 0 -20px 8px 0;
}

#status {
 	margin: 10px 0px 10px 5px;
}

#accountlist-holder {
    background: #ffffff;
    border: solid 1px #f2f2f2;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 1px 1px 5px #444;
    padding: 8px 0px;
	background: url(../images/sam/notice_bg.png);
	border-color: transparent;
}

fieldset {
	border: none;
	padding: 8px 0px;
	margin-top: 8px;
}

#accountlist {
	width: 100%;
    border-collapse: collapse;
}
#accountlist tr {
    border-bottom: solid 1px #eee;
    color: WindowText;
    cursor: pointer;
}
#accountlist tr.add {
	border-bottom: none;
}
#accountlist tr:hover {
    background-color: Highlight;
    color: HighlightText;
	background-color: #fff;
}
#accountlist td {
    padding: 4px;
}

#accountlist td.add a {
    content: url(../images/list-add.png);
}
#accountlist td.remove a {
    content: url(../images/list-remove.png);
}
#accountlist .http:before {
    content: url(../images/padlock-insecure.png);
}
#accountlist .https:before {
    content: url(../images/padlock-secure.png);
}

#accountlist img, #new-account img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 2px;
}

#accountlist .name {
    font-size: 150%;
    font-weight: bold;
    padding-right: 16px;
}
#accountlist .site {
    color: #444;
    padding-left: 16px;
}
