html, body {
	height: 100%;
	-webkit-user-select: auto;
}

body, * {
	font-family:"Lucida Grande",Tahoma, Helvetica, sans-serif;
	font-size:12px;
	margin:0;
	padding:0;
}

body {
	margin: 0px;
	color: #fff;
	background: #222 url(../images/page_bg.jpg) no-repeat top left; 
}

::-webkit-scrollbar {
	width: 13px;
	height: 13px;
	background-color: #d2d2d2;
}

::-webkit-scrollbar-thumb:vertical {
	-webkit-border-image: url(/images/scroll2.png) 10 0 10 0;
	border-color: transparent;
	border-width: 13px 0;
	min-height: 30px;
}

a {
	color:#343434;
	outline: none;
}

.rounded {
	-webkit-border-radius:10px;
}

#sidebar {
	background-color: #1c1c1c;
	float: left;
	text-align: center;
	height: 100%;
	background: url(/images/sidebar_bg.png);
	margin-right: 4px;
	width: 65px;
}

#sidebar ul {
	padding-top: 10px;
}

#main_logo {
	margin-top:10px;
}

#sidebar img {
	cursor:pointer;
	margin-bottom:10px;
}

#sidebar img:hover {
	background-image: url(/images/sidebar-button-glow.png);
	background-repeat: no-repeat;
}

#sidebar #user_img, #sidebar #public_img {
	opacity: 0.7;
}

#sidebar #user_img.opaque, #sidebar #user_img:hover, #sidebar #public_img.opaque, #sidebar #public_img:hover {
	background-image: none;	
	opacity: 1;
}

#profile {
	padding-top:10px;
	margin-bottom:10px;
	background-color:#d2d2d2;
	-webkit-border-top-left-radius:10px;
	-webkit-border-bottom-left-radius:10px;
}

#content {
	height: 100%;
}

#body {
	height: 94%;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 5px;
	padding-left: 0px;
	padding-bottom: 0px;
}

h1 {
	font-size: 1.2em;
	letter-spacing: 0.2em;
	line-height: 1.1em;
	color: #fff;
	background: #444;
	text-shadow: 0px 1px 0px #000;
	margin: 5px -4px 10px 0px;
	padding: 4px 30px 2px 4px;
	border: 1px solid #000;
	border-color: transparent;
	-webkit-border-top-left-radius: 10px;
	-webkit-box-shadow: 2px 2px 2px #000;
	opacity: 0.75;
	font-weight: normal;
}

#body h4 {
	margin:0;
	padding:10px;
}

#body p {
	line-height:1.5em;
	margin:3px 10px 3px 10px;
}

#spinner {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 13px;
	right: 24px;
	background: #444;
}

#notices {
	clear: both;
}

.notice {
	margin: 3px 4px 10px 0px;
	padding:5px;
	color: #000;
	background: url(../images/notice_bg.png);
	border: 1px solid #000;
	border-color: transparent;
	-webkit-border-radius:10px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-box-shadow: 2px 2px 2px #222;
}

.notice:hover {
	background-color: #f2f2f2;
	-webkit-box-shadow: 2px 2px 2px #111;
}

.notice .avatar {
	float:right;
	margin:5px 0 5px 10px;
}

.notice .avatar img {
	width: 48px;
	height: 48px;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0px 0px 3px gray;
	background-color:#f8f8f8;
}

.notice .author {
	font-size:14px;
	color:#000;
	text-decoration:none;
	font-weight: normal;
	text-shadow: 0px 1px 1px #fff;
}

.notice .date_link {
	float: left;
}

.notice .context_link, .notice .notice_source {
	float: left;
	margin-left: 4px;
}

.notice .notice_source .notice_source_inner {
	font-size: 0.8em;
}

.notice .date_link a, .notice .context_link a {
	font-size: 0.8em;
	text-decoration: none;
}

.notice .notice_source a {
	font-size: 1em;
	text-decoration: none;
}

.notice .date_link a:hover, .notice .context_link a:hover, .notice .notice_source a:hover {
	text-decoration: underline;
}

.notice .context_link a:before {
	content: "(";
}

.notice .context_link a:after {
	content: ")";
}

.notice .content {
	margin-top: 3px;
	margin-bottom: 6px;
}

.notice .clear {
	clear:both;
}

#footer {
	position: absolute;
	bottom: 0px;
	left: 70px;
	height: 22px;
}

#infobar {
	float: right;
	margin-left: 5px;
}

a#new_notice {
	padding: 2px 5px 2px 5px;
	background: #444;
	color: #fff;
	font-size: 0.95em;
	text-decoration: none;
	border: 1px transparent #fff;
	-webkit-border-radius: 6px;
	text-shadow: 0px 1px 0px #000;
	-webkit-box-shadow: 1px 1px 1px #ccc;
} 

a#new_notice:hover {
	background: #b3b3b3;
	color: #000;
	text-shadow: 0px 1px 0px #ccc;
	-webkit-box-shadow: 1px 1px 1px #000;
} 

.notice_links {
	clear: left;
	padding-top: 8px;
	margin-bottom: 2px;
}

.notice_links a {
	margin-right: 2px;
	padding: 2px 5px 2px 5px;
	background: #444;
	color: #fff;
	font-size: 0.95em;
	text-decoration: none;
	border: 1px transparent #fff;
	-webkit-border-radius: 6px;
	text-shadow: 0px 1px 0px #000;
	-webkit-box-shadow: 1px 1px 1px #dcdcdc;
} 

.notice_links a:hover {
	background: #b3b3b3;
	color: #000;
	text-shadow: 0px 1px 0px #ccc;
	-webkit-box-shadow: 1px 1px 1px #111;
} 

#empty_timeline {
	margin: 10px 0px 0px 4px;
	font-size: 1.2em;
}

#profile_panel {
	position: relative;	
	margin: 0px 4px 6px 4px;
	padding: 0px 0px 0px;
	height: auto;
}

#notices #profile_panel {
	margin-bottom: 10px;
	border-bottom: 1px dotted #ccc;
}

#profile_panel img {
	float: left;
	border: 1px transparent #fff;
	-webkit-border-radius: 6px;
	margin-right: 10px;
	margin-bottom: 4px;
}

#profile_panel a {
	color: #f2f2f2;
}

#profile_panel h2 {
	padding-top: 4px;
	margin-bottom: 4px;
	font-size: 1.2em;
	letter-spacing: 0.2em;
	line-height: 1.1em;
	color: #fff;
	text-shadow: 0px 1px 0px #000;
	font-weight: normal;
}

#notices #profile_panel h2 {
	font-size: 1.1em;
	padding-top: 1px;
	margin-bottom: 2px;
}

#profile_panel dl.profile_list dt {
	display: none;
}

#profile_panel dl.profile_list dd.name {
	font-weight: bold;
	padding-bottom: 2px;
}

#profile_panel dl.profile_list dt.id {
	display: block;
	float: left;
	font-size: 0.8em;
	padding-right: 4px;
}

#profile_panel dl.profile_list dt.id:after {
	content: ":";
}

#profile_panel dl.profile_list dd.id {
	font-size: 0.8em;
}

#profile_panel dl.profile_list dd.location {
	font-style: italic;
	font-size: 0.8em;
}

#profile_panel dl.profile_list dd.bio {
	margin-top: 4px;
	font-size: 0.8em;
	margin-bottom: 6px;
}

#notices #profile_panel dl.profile_list {
	min-height: 58px;
}

#profile_panel dl.profile_statistics {
	clear: left;
	margin: 0px 0px 6px 0px;
	line-height: 1.8em;	
	height: 20px;
}

#profile_panel dl.profile_statistics dt {
	float: left;
	margin-left: 20px;
	color: #ddd;
	font-size: 0.8em;
}

#profile_panel dl.profile_statistics dt:first-child {
	margin-left: 2px;
}

#profile_panel dl.profile_statistics dt a {
	font-size: 1em;
}

#profile_panel dl.profile_statistics dd {
	float: left;
	margin-left: 6px;
	font-size: 0.8em;
}

#profile_panel #profile_action_links {
	float: right;
}

#profile_panel #profile_action_links a {
	clear: right;
	float: right;
	width: 100px;
	text-align: center;
	padding: 2px 0px 2px 0px;
	margin-bottom: 10px;
	background: #444;
	color: #fff;
	font-size: 0.95em;
	text-decoration: none;
	border: 1px transparent #fff;
	-webkit-border-radius: 6px;
	text-shadow: 0px 1px 0px #000;
	-webkit-box-shadow: 1px 1px 1px #dcdcdc;
} 

#notices #profile_panel #profile_action_links a {
	margin-bottom: 8px;
}

#profile_panel #profile_action_links a:hover {
	background: #b3b3b3;
	color: #000;
	text-shadow: 0px 1px 0px #ccc;
	-webkit-box-shadow: 1px 1px 1px #111;
}

#search-box {
	margin: 15px 0px 15px 4px;
}

#search-box #search {
	background: #f2f2f2;
	border: 2px inset #fff;
	-webkit-border-radius: 4px;
	margin-left: 6px;
	padding: 1px;
}
