body {
	height: 94%;
}

#notice_input, #form_notice {
	height: 100%;
	width: 100%;
}

#counter {
	position: absolute;
	top: 62%;
	right: 4%;
	width: 50px;
	text-align: right;
	color: #444;
}

div#counter.negative {
	color:red;
}

#update_button {
	position: absolute;
	bottom: 6%;
	right: 2%;
	font-size: 0.95em;
	width: 60px;
	text-align: center;
	padding: 1px 0px 1px 0px;
	background: #444;
	color: #fff;
	border: 1px solid #fff;
	border-color: transparent;
	-webkit-border-radius: 6px;
	text-shadow: 0px 1px 0px #000;
	-webkit-box-shadow: 1px 1px 1px #dcdcdc;
}

#update_button:hover {
	background: #b3b3b3;
	color: #000;
	text-shadow: 0px 1px 0px #ccc;
	-webkit-box-shadow: 1px 1px 1px #111;
}

#textarea_wrapper {
	margin: 8px;
	padding: 1%;
	height: 64%;
	width: 94%;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 2px 2px 2px #222;
	border: solid 1px #f8f8f8;
	background-color: #f2f2f2;
}

#notice_textarea {
	background: #fff;
	border: none;
	outline: none;
	height: 84%;
	width: 100%;
}
