#settings_content {
	padding: 0px;
	overflow-x: hidden;
}

h1 {
	margin: 0 -20px 8px 0;
}

#status {
 	margin: 10px 0px 10px 5px;
}

#accountlist-holder {
    background: #ffffff;
    border: solid 1px #f2f2f2;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 1px 1px 5px #444;
    padding: 8px 0px;
	background: url(../images/notice_bg.png);
	border-color: transparent;
}

fieldset {
	border: none;
	padding: 8px 0px;
	margin-top: 8px;
}

#accountlist {
	width: 100%;
    border-collapse: collapse;
}
#accountlist tr {
    border-bottom: solid 1px #eee;
    color: WindowText;
    cursor: pointer;
}
#accountlist tr.add {
	border-bottom: none;
}
#accountlist tr:hover {
    background-color: Highlight;
    color: HighlightText;
	background-color: #fff;
}
#accountlist td {
    padding: 4px;
}

#accountlist td.add a {
    content: url(../images/list-add.png);
}
#accountlist td.remove a {
    content: url(../images/list-remove.png);
}
#accountlist .http:before {
    content: url(../images/padlock-insecure.png);
}
#accountlist .https:before {
    content: url(../images/padlock-secure.png);
}

#accountlist img, #new-account img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 2px;
}

#accountlist .name {
    font-size: 150%;
    font-weight: bold;
    max-width: 115px;
    word-wrap: break-word;

}
#accountlist .site {
    color: #444;
    max-width: 115px;
    word-wrap: break-word;
}

/* Tabbed menu stuff */

ul.tabs {
    margin: 0;
    padding: 0;
    /*float: left;*/
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    height: 32px; /*--Set height of tabs--*/
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    width: 95%;
}

ul.tabs li {
    color: #000;
    float: left;
    margin: 0;
    padding: 0;
    height: 31px; /*--Subtract 1px from the height of the unordered list--*/
    line-height: 31px; /*--Vertically aligns the text within the tab--*/
    border: 1px solid #999;
    border-left: none;
    margin-bottom: -1px; /*--Pull the list item down 1px--*/
    overflow: hidden;
    position: relative;
    background: #3f3f3f;
}

ul.tabs li a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 1.2em;
    padding: 0 20px;
    /* border: 1px solid #fff; */ /*--Gives the bevel look with a 1px white border inside the list item--*/
    outline: none;
}

ul.tabs li a:hover {
    background: #ccc;
}

html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
    background: transparent;
    border-bottom: 1px solid #1c1c1c; /*--Makes the active tab look like it's connected with its content--*/
}

.tab_container {
    border: 1px solid #999;
    border-top: none;
    overflow: auto;
    clear: both;
    /*float: left; width: 100%;*/
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    width: 95%;
    /* background: #444; */
}

.tab_content {
    padding: 20px;
    font-size: 1.2em;
}


/* Add account overlay */

#new-account {
    position: fixed;
    left: 30px;
    top: 200px;
    width: 330px;
    padding: 20px 0px 30px 10px;
    background-color:rgba(16, 16, 16, 0.98);
    -webkit-border-radius:10px;
    -webkit-box-shadow: 1px 0px 5px #fff;
}	


/* Notifications info note */

#notifications_note {
    margin: 8px 0px 4px 0px;
    padding: 4px 20px 4px 20px;
    background-color: rgba(80, 80, 80, 0.7);
    -webkit-border-radius:6px;
}

#notifications_note a {
    color: #fff;
}
